.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-container main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 3vh;
  color: white;
  font-weight: 400;
  gap: 20px;
}
#home-title {
  font-family: "Aclonica", Arial;
  font-size: 48px;
}
.content-box {
  background-color: var(--azul-content);
  width: 90%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 var(0, 0, 0, 0.25);
}
.inputs-principal {
  height: 55px !important;
}
.input-container label {
  font-size: 36px;
}
.input-container {
  gap: 15px;
}
#principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  gap: 30px;
}
.linha-principal {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.min-max-container {
  display: flex;
  flex-direction: column;
  font-family: "Alice", Arial;
  font-size: 36px;
  /* width: 336px; */
  font-weight: 400;
  gap: 15px;
  text-align: center;
}
.min-max {
  display: flex;
  align-items: center;
  justify-content: center;
}
.barra-diagonal {
  border: 3px solid gray;
  width: 60px;
  height: 1px;
  transform: rotate(-70deg);
  border-radius: 9px;
}
#secundario {
  display: flex;
}
#atributos-e-modificadores {
  display: flex;
  font-size: 36px;
  font-weight: 400;
  gap: 40px;
  justify-content: center;
}
#atributos-container,
#modificadores-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.atributo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.atributo span {
  font-size: 32px;
}
#dinheiro-e-reputacao {
  display: flex;
  font-size: 36px;
  font-weight: 400;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#dinheiro-container, #reputacao-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#dinheiro-container {
    width: 100%;
}
#inputs-dinheiro {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#inputs-reputacao {
    display: flex;
    gap: 35px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.status-valor-reputacao {
   width: 40%;
}

#outras-secoes {
  margin-bottom: 30px;
}

#outras-secoes h1{
  font-family: 'Aclonica', Arial;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#outras-secoes div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}