.input {
  display: flex;
  font-family: 'Alice', Arial;
  font-size: 24px;
  font-weight: 400;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.input input {
  height: 65px;
  font-family: 'Alice', Arial;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  box-shadow: -15px 15px 38px rgba(0, 0, 0, 0.25);
}