.linha-hexagono-container {
    width: 97%;
    padding: 20px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
}
.linha-hexagono-container img {
    width: 75px;
}