.input-atributo {
    width: 70px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    border: none;
    outline: none;
    padding: 5px;
    font-size: 24px;
    box-shadow: -15px 15px 38px 0 rgba(0, 0, 0, 0.25);
}
.input-atributo::-webkit-inner-spin-button, .input-atributo::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}