#inventario-content {
    position: relative;
    width: 80%;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.input-inventario-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}
.input-inventario-container div:first-of-type {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 15px;
}
.input-inventario {
    height: 55px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: -15px 15px 38px 0 rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 0 15px;
    font-family: 'Alice', Arial;
    font-weight: 400;
    outline: none;
}
