.input-container {
  display: flex;
  font-family: 'Alice', Arial;
  font-size: 24px;
  font-weight: 400;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.input-container .input {
  width: 100%;
  height: 65px;
  color: black;
  font-family: 'Alice', Arial;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: -15px 15px 38px rgba(0, 0, 0, 0.25);
}
.password-input-container {
  position: relative;
  width: 100%;
  background-color: transparent;
}
.password-eye {
  color: black;
  position: absolute;
  font-size: 25px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}