.equipamentos-content {
  font-family: "Alice", Arial;
  width: 80%;
}
.equipamentos-content h1 {
  font-family: "Alice", Arial;
  font-size: 48px;
  font-weight: 400;
}
.input-equipamento-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px 60px;
  gap: 20px;
}
.inputs-equipamento {
  height: 55px !important;
}

.defesa-armadura-div {
  display: flex;
  flex-direction: column;
  font-family: "Alice", Arial;
  align-items: center;
  align-self: stretch;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.defesa-armadura-div label {
    font-size: 36px;
}
.defesa-armadura-div .status-valor {
    align-self: center;
}
#armaduras-content {
    margin-bottom: 40px;
}