.item-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  border: 2px solid var(--borda-item-section);
  border-radius: 10px;
  width: 100%;
}
.lixeira-div {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}
.lixeira-div img {
  cursor: pointer;
}
.lixeira-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.children-container {
  width: 100%;
  position: relative;
}
.adicionar-div {
  position: absolute;
  width: 15%;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
.adicionar-div img {
  position: relative;
  z-index: 3;
  cursor: pointer;
  height: 50px;
}
.adicionar-div div {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--azul-content);
  height: 10px;
}
