.page-container main {
  margin-top: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

#login-content {
  min-height: 595px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.botao-login {
  width: 225px;
  height: 90px;
  font-family: 'Alice', Arial;
  font-weight: 400;
  letter-spacing: calc(40px * 0.07);
  background-color: var(--fundo-botao);
  color: var(--texto-botao);
  font-size: 40px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
/* #titulo-login {
  margin-bottom: 30px;
} */
