:root {
  --fundo-header: #837763;
  --azul-content: #495a6e;
  --fundo-botao: #858c94;
  --texto-botao: #d8c29a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #131f2d;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-container main {
  margin-top: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.blue-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 35px;
  align-items: center;
  color: white;
  background-color: var(--azul-content);
  margin: 0 auto;
  width: 50%;
  border-radius: 15px;
  padding: 30px 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.blue-content h1 {
  font-family: "Aclonica", Arial;
  font-size: 48px;
  font-weight: 400;
}
.links-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-family: "Alice", Arial;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.links-login a {
  color: white;
  text-decoration: underline;
}
.descricao-login {
  font-family: "Alice", Arial;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  width: 80%;
}
.alice {
  font-family: "Alice", Arial;
  font-weight: 400;
}
.half-width {
  width: 50%;
}
