.status-valor {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    /* border: 1px solid white; */
    gap: 20px;
}
.status-valor label {
    font-family: 'Alice', Arial;
    font-size: 32px;
}
.status-valor-input {
    height: 55px;
    text-align: center;
    width: 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    font-size: 24px;
    outline: none;
    padding: 5px;
    border: none;
    box-shadow: -15px 15px 38px 0 rgba(0, 0, 0, 0.25);
}
.status-valor-input::-webkit-inner-spin-button, .status-valor-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}