#magias-content {
    width: 80%;
    margin-bottom: 40px;
}
.magia-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px 60px;
  gap: 20px;
}